<h3>Edit <%= @course.name %></h3>

<form method="POST" action="/courses/<%= @course.slug %>">
  <input id="course_name" type="text" name="course[name]" value="<%= @course.name %>" />

  <p>
    Current Roster:<br />
    <em>Uncheck to remove student from roster.</em>
  </p>
  <ol>
    <% @course.users.each do |user| %>
      <% if user.student? %>
        <li>
          <input type="checkbox" name="course[user_ids][]" value="<%= user.id %>" checked><%= user.name %></input>
        </li>
      <% end %>
    <% end %>
  </ol>

  <p>
    Add New Students to Roster:
  </p>
  <ol>
    <% 5.times do %>
      <li>
        <input type="text" name="course[students][][name]" placeholder="Student Name" />
        <input type="text" name="course[students][][email]" placeholder="Student Email" />
      </li>
    <% end %>
  </ol>

  <p>
    Assessments:
  </p>
  <ol>
    <% @course.assessments.each do |assessment| %>
      <li>
        <input type="text" name="course[assessments][][name]" value="<%= assessment.name %>" />
        <input type="checkbox" name="course[assessments][][delete]" id="assessment_<%= assessment.id %>">Delete Assessment</input>
      </li>
    <% end %>
  </ol>

  <p>
    Add New Assessments:
  </p>
  <ol>
    <% 5.times do %>
      <li>
        <input type="text" name="course[assessments][][name]" />
      </li>
    <% end %>
  </ol>

  <button type="submit" id="submit">Update Course</button>
</form>
