<h3><%= @course.name %></h3>

<form method="post" action="/courses/<%= @course.slug %>/grades">
  <table>
    <thead>
      <tr>
        <th>
          Students
        </th>
        <% @course.assessments.each do |assessment| %>
        <th>
          <a href="/courses/<%= @course.slug %>/<%= assessment.slug %>">
            <%= assessment.name %>
          </a>
        </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @course.users.each do |user| %>
        <% if user.student? %>
          <tr>
            <td>
              <%= user.name %>
            </td>
              <% user.grades.each do |grade| %>
                <td>
                  <input type="number" name="grade_ids[<%= grade.id %>][score]" value="<%= grade.score %>"/><br />
                  <!-- make this so it shows comment if there is one -->
                  <input type="text" name="grade_ids[<%= grade.id %>][comment]" placeholder="<%= grade.comment %>" />
                </td>
              <% end %>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
  <button type="submit">Update Grades</button>
</form>
