<h3><%= @course.name %></h3>

<form method="post" action="/courses/<%= @course.slug %>/grades">
  <table>
    <thead>
      <tr>
        <th class="first_column">
          Students
        </th>
        <% @course.assessments.each do |assessment| %>
        <th>
          <%= assessment.name %>
        </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @course.users.each do |user| %>
        <% if user.student? %>
          <tr>
            <td class="first_column">
              <%= user.name %>
            </td>
              <% user.grades.each do |grade| %>
                <% if @course.assessment_ids.include?(grade.assessment_id) %>
                  <td>
                    <input type="number" name="grade_ids[<%= grade.id %>][score]" value="<%= grade.score %>"/><br />
                    <!-- make this so it shows comment if there is one -->
                    <input type="text" name="grade_ids[<%= grade.id %>][comment]"
                    <% if grade.comment != "" %>
                      value="<%= grade.comment %>"
                    <% else %>
                      placeholder="Comment"
                    <% end %>/>
                  </td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
  <button type="submit">Update Grades</button>
</form>
