<h3>Your Courses</h3>

<%= @user.name %>
<%= @user.email %>
<%= @user.role.name %>

<ul>
  <% @user.courses.each do |course| %>
    <li>
      <a href="/courses/<%= course.slug %>"><%= course.name %></a>
    </li>
  <% end %>
</ul>

<% if current_user.instructor? %>
  <a href="/courses/new">Add New Course</a>
<% end %>
