<h3><%= @course.name %></h3>

<table>
  <thead>
    <tr>
      <td>
        Students
      </td>
      <% @course.assessments.each do |assessment| %>
      <td>
        <%= assessment.name %>
      </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @course.students.each do |student| %>
    <tr>
      <td>
        <%= student.name %>
      </td>
      <% student.grades.each do |grade| %>
        <td>
          <%= grade.score %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <a href="/courses/<%= @course.slug %>/edit">Edit Course Info and Roster</a>
</p>
