<h3><%= @course.name %></h3>

<table>
  <thead>
    <tr>
      <th>
        Students
      </th>
      <% @course.assessments.each do |assessment| %>
      <th>
        <!--<a href="/courses/<%= @course.slug %>/<%= assessment.slug %>">-->
          <%= assessment.name %>
        <!--</a> are links to individual assessment pages necessary? -->
      </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @course.users.each do |user| %>
      <% if user.student? %>
        <tr>
          <td>
            <%= user.name %>
          </td>
            <% user.grades.each do |grade| %>
          <td>
            <%= grade.score %>
          </td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <a href="/courses/<%= @course.slug %>/grades">Assign and Update Grades</a>
</p>

<p>
  <a href="/courses/<%= @course.slug %>/edit">Edit Course</a>
</p>

<form method="post" action="/courses/<%= @course.slug %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete" />
  <button value="delete" type="submit">Delete Course</button>
</form>
