<h3><%= @course.name %></h3>

<table>
  <thead>
    <tr>
      <th class="first_column">
        Students
      </th>
      <% @course.assessments.each do |assessment| %>
      <th>
        <!--<a href="/courses/<%= @course.slug %>/<%= assessment.slug %>">-->
          <%= assessment.name %>
        <!--</a> are links to individual assessment pages necessary? -->
      </th>
      <% end %>
      <% if @course.assessments == [] %>
        <th class="no_wrap">
          <em>No Assessments have been added.</em>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @course.users.each do |user| %>
      <% if user.student? %>
        <tr>
          <td class="first_column">
            <%= user.name %>
          </td>
            <% if @course.assessments == [] %>
              <td>
                
              </td>
            <% end %>
            <% user.grades.each do |grade| %>
              <% if @course.assessment_ids.include?(grade.assessment_id) %>
                <td>
                  <%= grade.score %>
                </td>
             <% end %>
          <% end %>
      <% end %>
      </tr>
    <% end %>
    <% if @course.users.count == 1 %>
      <tr>
        <td colspan="<%= @course.assessments.count + 2 %>">
          <em>No Students have been added.</em>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <a href="/courses/<%= @course.slug %>/grades">Assign and Update Grades</a>
</p>

<p>
  <a href="/courses/<%= @course.slug %>/edit">Edit Course</a>
</p>

<form method="post" action="/courses/<%= @course.slug %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete" />
  <button value="delete" type="submit">Delete Course</button>
</form>
