<h3><%= @course.name %></h3>
<h4>Instructor: <%= @course.users.find{|user| user.instructor?}.name %></h4>

<table>
  <thead>
    <tr>
      <th class="first_column">
        Assessment
      </th>
      <th>
        Grade
      </th>
      <th class="comments">
        Comments
      </th>
    </tr>
  </thead>
  <tbody>
    <% @course.assessments. each do |assessment| %>
      <tr>
        <td class="first_column">
          <%= assessment.name %>
        </td>
        <td>
          <%= current_user.grades.find {|grade| grade.assessment == assessment}.score %>
        </td>
        <td class="comments">
          <%= current_user.grades.find {|grade| grade.assessment == assessment}.comment %>
        </td>
      </tr>
    <% end %>
    <% if @course.assessments == [] %>
      <tr>
        <td colspan="3">
          <em>No assessments added for this course.</em>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
