<h3><%= @course.name %></h3>

<table>
  <thead>
    <tr>
      <td>
        Students
      </td>
      <% @course.assessments.each do |assessment| %>
      <td>
        <a href="/courses/<%= @course.slug %>/<%= assessment.slug %>">
          <%= assessment.name %>
        </a>
      </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @course.users.each do |user| %>
      <% if user.student? %>
        <tr>
          <td>
            <%= student.name %>
          </td>
            <% student.grades.each do |grade| %>
          <td>
            <%= grade.score %>
          </td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <a href="/courses/<%= @course.slug %>/new">Add New Assessment</a>
</p>

<p>
  <a href="/courses/<%= @course.slug %>/edit">Edit Course Info and Roster</a>
</p>
